<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ashoksm.thiraseela">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.ArtistListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_artist_list"
            android:parentActivityName=".ui.MainActivity"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.TroupesListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_troupes_list"
            android:parentActivityName=".ui.MainActivity"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.AcademyListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_academy_list"
            android:parentActivityName=".ui.MainActivity"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.EventsListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_events_list"
            android:parentActivityName=".ui.MainActivity"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.ArtistDetailActivity"
            android:label="@string/title_activity_artist_detail"
            android:parentActivityName=".ui.ArtistListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.ArtistListActivity" />
        </activity>
        <activity
            android:name=".ui.TroupesDetailActivity"
            android:label="@string/title_activity_troupes_detail"
            android:parentActivityName=".ui.TroupesListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.TroupesListActivity" />
        </activity>
        <activity
            android:name=".ui.AcademyDetailActivity"
            android:label="@string/title_activity_academy_detail"
            android:parentActivityName=".ui.AcademyListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.AcademyListActivity" />
        </activity>
        <activity
            android:name=".ui.EventsDetailActivity"
            android:label="@string/title_activity_events_detail"
            android:parentActivityName=".ui.EventsListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.EventsListActivity" />
        </activity>
        <activity
            android:name=".ui.AboutUSActivity"
            android:label="@string/about_us"
            android:parentActivityName=".ui.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>
    </application>

</manifest>
